main {
    background: url(http://pic.5442.com/2012/0924/05/57.jpg) center no-repeat;
    background-size: cover;
}
header {
    position: absolute;
    width: 100%;
}
header a {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 30px;
}
.modal {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
}
.flip-modal {
    position: relative;
    text-align: center;
}
.close {
    position: absolute;
    right: 10px;
}
.switch {
    display: inline-block;
    margin-bottom: 20px;
}
.switch a {
    font-size: 20px;
    margin: 0 10px;
    padding: 5px;
}
.switch a.active {
    border-bottom: 3px solid #000;
    font-weight: bold;
}
form input {
    height: 1.5em;
    margin: 5px;
}
form input[type=submit] {
    padding: 5px;
    
} 