main {
    background: url(http://pic.5442.com/2012/0924/05/57.jpg) center no-repeat;
    background-size: cover;
}
header {
    position: absolute;
    width: 100%;
}
header a {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 30px;
}
.flip-modal-login, .flip-modal-register {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
}
.flip-modal {
    margin: 20px;
    position: relative;
    text-align: center;
}
.close {
    position: absolute;
    right: 10px;
}
.switch {
    display: inline-block;
    margin-bottom: 20px;
}
.switch a {
    font-size: 20px;
    margin: 0 10px;
    padding: 5px;
}
.switch .active {
    border-bottom: 3px solid #000;
    font-weight: bold;
}
.modal .input-area input[type=submit] {
    height: 2em;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    outline: none;
} 
.input-area {
    position: relative;
    margin: 10px;
}
.input-area .fa {
    position: absolute;
    left: 13px;
    top: 13px;
}
.modal .input-area input[type=text],
.modal .input-area input[type=password] {
  width: 100%;
  padding: 10px 10px 10px 30px;
  outline: none;
}
.modal.login .flip-modal-login,
.modal.register .flip-modal-register {
    transform: translate(-50%,-50%) rotateY(0deg);
    backface-visibility: hidden;
    transition: all 1s;
}
.modal.login .flip-modal-register,
.modal.register .flip-modal-login {
    transform: translate(-50%,-50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 1s;
}